<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %><br>
    <%= form.collection_select :user_id, @users, :id, :display_name,
      :include_blank => true,
      :selected => @player.user&.id %>
  </div>

  <div class="field">
    <%= form.label :team %><br>
    <%= form.collection_select :team_id, @teams, :id, :display_name,
      :include_blank => true,
      :selected => @player.team&.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
